@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

body {
  --color-blue: rgb(157, 190, 255);
  --color-blue-faded: rgba(157, 190, 255, 0.5);
  --border-color: var(--color-blue);
  --font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding: 32px;
}

.content-wrapper {
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px;
}

table {
  flex: 1;
  box-shadow: 0 0 0 10px var(--border-color);
  border-collapse: collapse;
  border-radius: 4px;
  font-family: var(--font-family);
  margin-left: 64px;
}

tr,
th {
  border-bottom: 1px solid var(--color-blue-faded);
  font-family: var(--font-family);
}

td,
th {
  padding: 16px;
  border-right: 1px solid var(--color-blue-faded);
  font-family: var(--font-family);
  background-color: #ffffff;
  text-align: center;
}

tr:last-child,
td:last-child {
  border: none;
}

th:last-child {
  border-right: none;
}

h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 6rem;
  color: rgb(51, 111, 255);
}

.line {
  width: 100%;
  height: 3px;
  background-color: var(--color-blue);
}

.left {
  max-width: 250px;
}

p {
  color: rgb(51, 111, 255);
  font-family: "Luckiest Guy", cursive;
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 1.5rem;
  margin-top: 32px;
}
